<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body ng-app="ShoppingListCheckOff">
  <div class="container">
    <h1>Shopping List Check Off</h1>

    <div class="row">

      <!-- To Buy List -->
      <div class="col-md-6" ng-controller="ToBuyController">
        <h2>To Buy:</h2>
        <ul ng-repeat="item in toBuy">
          <li> {{ displayBuy(item) }} <input type="text" ng-model="item.quantity" placeholder="Quantity"><button class="btn btn-default" ng-click="buyItem($index)"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
        </ul>
        <div ng-if="toBuy.length < 1" class="emptyMessage">Everything is bought!</div>
      </div>

      <!-- Already Bought List -->
      <div class="col-md-6" ng-controller="AlreadyBoughtController">
        <h2>Already Bought:</h2>
        <ul ng-repeat="item in alreadyBought">
          <li> {{ displayBought(item) }} {{(item.quantity * item.pricePerItem) | totalPriceFilter}}</li>
        </ul>
        <div ng-if="alreadyBought.length < 1" class="emptyMessage">Nothing bought yet.</div>
      </div>
    </div>
</div>

</body>
</html>
